/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.css-13ddxbb > * + * {
  margin: 0 !important;
}

.background-bokeh span {
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 15vmin 0 10vmin currentColor;
  filter: blur(20px); /* Bokeh-like blur effect */
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.animate-move {
  animation: move linear infinite;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; /* Optional: Background of the track */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.15); /* Adjust the color as needed */
}

/* Optional: Add hover effect for scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
